* {
    font-family: Arial, Helvetica, sans-serif;
}

table {
    border: 1px solid black;
    width: 100%;
}

tr:nth-child(odd) {
    background-color: #f2f2f2;
}

tr:nth-child(even) {
    background-color: white;
}

td {
    padding-left: 1vw;
    padding-right: 1vw;
}

h4 {
    display: inline;
}

p {
    display: inline;
    letter-spacing: 1px;
}

button {
    background-color: #e7e7e7;
    border: none;
    color: black;
    text-align: center;
    text-decoration: none;
}

.welcome-container {
    text-align: center;
    margin-top: 10vh;
    border: 1px solid lightgray;
}

.welcome {
    width: fit-content;
    padding: 5vw;
    display: inline-block;
}

.new {
    margin: 2vh;
}

.showWelcome {
    display: block;
}

.hideWelcome {
    display: none;
}

.user, .admin {
    margin-top: 2vh;
}

.btn-secondary {
    background-color: lightgray;
    border: lightgray;
    color: black;
}

.btn-primary {
    background-color: black;
}

.year {
    writing-mode: vertical-lr;
    transform: rotate(180deg);
    text-align: center;
    font-size: 2rem;
    background-color: black;
    color: white;
    padding: 0px 2vw 0px 2vw;
}

.header {
    padding-left: 1vw;
    text-align: left;
    background-color: lightgray;
}

tr.hours {
    border-top: 1px solid black;
    background-color: white;
}

#description1, #description2, #description3, #description4 {
    border: 1px solid black;
    padding: 10px 25px 25px 25px;
    background-color: #f2f2f2;
}

.hide {
    display: none;
}

.show {
    display: block;
}

.clickable {
    cursor: pointer;
}

.edit, .delete, .add {
    margin-left: 0.5vw;
}